{% extends "adminlte/base.html" %}

{% block content %}
{% load static %}
<style>
  /* Style for the modal */
  #myModal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.9);
      padding-top: 60px;
  }

  /* Style for the modal content */
  .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 500px;
      position: relative;
  }

  /* Style for the close button */
  .close {
      color: #000000;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      cursor: pointer;
  }

  /* Style for the image in the modal */
  .modal-content img {
      width: 100%;
  }
</style>
<div id="main">
    <div class="page-heading">
        <h3>Edit infomation Product</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home">หน้าหลัก</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#">Edit infomation Product</a></li>
            </ol>
          </nav>
    </div>
    <div class="page-content">
        <div class="card">
          <form action="/editproduct/{{product.Product_id}}" method="post" enctype="multipart/form-data">
            <div class="card-header">
              <h4>Product information</h4>
           
            </div>
            <div class="card-body">
               
                    {% csrf_token %}
                      <div class="row">
                        
                          <div class="col-6 ">
                           
                              
                                
                                  <div class="form-group">
                                      <label for="itemcode">เลขรหัสสินค้า (Product Code)</label>
                                      <input type="text" class="form-control" id="Product_Code" name="Product_Code" value="{{product.Product_Code}}" required>
                                  </div>
                                  
                                
                                  <div class="form-group">
                                    <label for="description">รายละเอียดสินค้า (Product Detial)</label>
                                    <input class="form-control" type="text" id="Product_Detial" name="Product_Detial"  value="{{product.Product_Detial}}"  required></input>
                                  </div>
                                    <div class="form-group">
                                        <label for="description">ราคาสินค้า (Product Price)</label>
                                        <input class="form-control" type="number" id="Product_Price" name="Product_Price" value="{{product.Product_Price}}" required></input>
                                    </div>
                                    <div class="form-group">
                                      <label for="description">สถาณะเปิดใช้งาน (Status)</label>
                                      
                                      <div class="form-check">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="form-check-input form-check-success"
                                              {% if product.Is_active %}
                                              checked
                                              {%  else %}
                                              {% endif  %}
                                            name="customCheck" id="customColorCheck3">
                                            <label class="form-check-label" for="customColorCheck3">เปิดการใช้งาน</label>
                                        </div>
                                    </div>
                                  </div>
                              
                                   
                          
                            </div>
                            <div class="col-lg-6">
                              <h4>แนบรูปภาพของสินค้า</h4>
                              
                          
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label  m-1" for="customFile1">รูปภาพสินค้า 1</label>
                                            <div class="mb-4 d-flex justify-content-center">
                                              {% if img.0.Product_Img %}
                                              <img src="/media/{{img.0.Product_Img}}"
                                                alt="example placeholder" style="width: 300px;" id="blah"   />

                                              {% else %}  
                           
                                              <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder" style="width: 300px;" id="blah"   />
                                              {% endif %}
                                                
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="btn btn-primary btn-rounded">
                                                    <label class="form-label text-white m-1" for="customFile1">เพิ่มรูปภาพ1</label>
                                        
                                                    <input type="file" onchange="readURL(this);" value="{{img.0.Product_Img}}"  class="form-control d-none" id="customFile1" name="imgReport"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label class="form-label  m-1" for="customFile2">รูปภาพสินค้า 2</label>
                                            <div class="mb-4 d-flex justify-content-center">
                                                {% if img.1.Product_Img %}
                                                <img src="/media/{{img.1.Product_Img}}" alt="example placeholder" style="width: 300px;" id="adsa"   />

                                                {% else %}  
                             
                                                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder" style="width: 300px;" id="adsa"   />
                                                {% endif %}
                                               
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <div class="btn btn-primary btn-rounded">
                                                    <label class="form-label text-white m-1" for="customFile2">เพิ่มรูปภาพ2</label>
                                        
                                                    <input type="file" onchange="readdata(this);" value=""  class="form-control d-none" id="customFile2" name="imgReport2"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                      </div>
               
            </div>
            <div class="card-footer">
              <button class="btn btn-primary rounded-pill" style="margin:auto;" id="searchButton" type="submit">แก้ไขข้อมูล</button>
            </div>
          </form>
          </div>
   
    </div>
  

</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
  
          reader.onload = function (e) {
            $('#blah').attr('src', e.target.result);
          };
  
          reader.readAsDataURL(input.files[0]);
        }
      }
      function readdata(input) {
        if (input.files && input.files[0]) {
          var reader2 = new FileReader();
  
          reader2.onload = function (e) {
            $('#adsa').attr('src', e.target.result);
          };
  
          reader2.readAsDataURL(input.files[0]);
        }
      }
</script>

{% endblock content%}