{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>	ระบบการจัดการหลังบ้าน BackOffice Management</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'admin/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" href="{% static 'admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	
<!--===============================================================================================-->
<link rel="stylesheet" href="{% static 'admin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="{% static 'admin/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet"  href="{% static 'admin/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="{% static 'admin/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="{% static 'admin/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet"  href="{% static 'admin/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet"  href="{% static 'admin/css/util.css' %}">
	<link rel="stylesheet"  href="{% static 'admin/css/main.css' %}">
<!--===============================================================================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  method="post" action="/login">
					<span class="login100-form-title p-b-43">
						
						ระบบการจัดการหลังบ้าน <br> BackOffice Management
					</span>
						{% csrf_token %}
						
						<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
			
							<input type="text" class="input100" id="username" name="username"  Required>
							<span class="focus-input100"></span>
							<span class="label-input100">ชื่อผู้ใช้งาน</span>
						</div>
						
						
						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<input type="password" class="input100" id="pass1"  name="pass1" Required>
							<span class="focus-input100"></span>
							<span class="label-input100">รหัสผ่าน</span>
						</div>
                        <button  type="submit" class="login100-form-btn">
							เข้าสู่ระบบ
						</button>
						<div class="mt-2"> <strong><span id="clickableSpan" class=" text-primary"  style="Cursor:pointer ">ลืมรหัสผ่าน</span> </strong> </div>
						{% for message in messages %}
						<div class="mt-2"> <strong>Message:</strong> <span class=" text-danger">{{ message }}</span> </div>
						{% endfor %}
						
					
					</form>
					
					{% comment %} <div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> {% endcomment %}
			
				<div class="login100-more" style="background-image: url('{% static 'assets\images\niranImg\a-1.jpg' %}');">
				</div>
			</div>
		</div>
	</div>
	
	

	<script>
		const clickableSpan = document.getElementById("clickableSpan");

		// Add a click event handler
		clickableSpan.addEventListener("click", function() {
			// Code to execute when the <span> is clicked
				Swal.fire({
					title: 'แจ้งเตือนข้อความ',
					text: 'โปรดติดต่อ Admin ของท่านให้ทำการ Reset Password ให้',
					icon: 'info',
					confirmButtonText: 'OK',
					
				});
			
		});

	</script>	
<!--===============================================================================================-->
	<script src="{% static 'admin/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'admin/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'admin/js/main.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>