{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XMTVEHJZTE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XMTVEHJZTE');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TM72XX65');</script>
<!-- End Google Tag Manager -->


    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    <title>Niran นิรันดร์ พวงหรีดรักษ์โลก</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="ร้านพวงหรีดออนไลน์ จัดส่งฟรีทั่ว กทม. พร้อมโปรสุดพิเศษ" />
    <meta property="og:title" content="บริการส่งพวงหรีดมีคุณภาพ ส่งไว ต้อง Niran นิรันดร์ พวงหรีดรักษ์โลก" />
    <meta property="og:description" content="ร้านพวงหรีดออนไลน์ ร้านพวงหรีดออนไลน์ จัดส่งฟรีทั่ว กทม. พร้อมโปรสุดพิเศษ" />
    <meta property="og:url" content="https://niranwreath.com/" />







 <!--====== Kanit Font ======-->
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">

    <!--====== Favicon Icon ======-->
    <link rel="icon" href="{% static 'assets/images/niranImg/logo.png' %}" type="image/icon type">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/css/uikit.min.css" />

    <!-- ===== All CSS files ===== -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/ud-styles2.css' %}" />
  </head>
  <body>
 <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TM72XX65"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- ====== Header Start ====== -->
    <header class="ud-header" style="background-color: #1b3431;">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="index">
                <img src="{% static 'assets/images/niranImg/logo.png' %}" style="width: 6rem;" alt="Logo" />
              </a>
              <button class="navbar-toggler">
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
                <span class="toggler-icon"> </span>
              </button>

              <div class="navbar-collapse">
                <ul id="nav" class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="/index">หน้าหลัก</a>
                  </li>

                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="index#product">สินค้าบริการ</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="about">เกี่ยวกับเรา</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="index#contact">ติดต่อเรา</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="index#pricing">ซื้ออย่างไร</a>
                  </li>
                  <li class="nav-item">
                    <a class="ud-menu-scroll" href="info">บทความ</a>
                  </li>
                </ul>
              </div>

              <div class="navbar-btn d-none d-sm-inline-block">
                <div class="row">
                  <div class="col-12">
                    <p style="color: #b7b7b7;">สอบถามข้อมูลเพิ่มเติม</p>
                    <a href="tel:0828384994"><h3 style="color: #dfa667;">082-838-4994</h3></a> 
                  </div>
                </div>
                <!-- <a href="login.html" class="ud-main-btn ud-login-btn">
                  Sign In
                </a>
                <a class="ud-main-btn ud-white-btn" href="javascript:void(0)">
                  Sign Up
                </a> -->
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    


    {% block content %}


    {% endblock content%}



    <!-- ====== Footer Start ====== -->
    <footer class="ud-footer" >
      <div class="shape shape-1">
        <img src="{% static 'assets/images/footer/shape-1.svg' %}" alt="shape" />
      </div>
      <div class="shape shape-2">
        <img src="{% static 'assets/images/footer/shape-2.svg'%}" alt="shape" />
      </div>
      <div class="shape shape-3">
        <img src="{% static 'assets/images/footer/shape-3.svg'%}" alt="shape" />
      </div>
      <div class="ud-footer-widgets">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="ud-widget">
                <a href="index" class="ud-footer-logo">
                  <img src="{% static 'assets/images/niranImg/logo.png'%}" alt="logo" />
                </a>
                <p class="ud-widget-desc">
                  นิรันดร์ พวงหรีดรักษ์โลก
                </p>
                <ul class="ud-widget-socials">
                  <li>
                    <a href="https://www.facebook.com/niran.officialth/">
                      <i class="lni lni-facebook-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/niranwreath/">
                      <i class="lni lni-instagram-filled"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://lin.ee/KpuPbQ0">
                      <img src="{% static 'assets/images/niranImg/icons/line-black.png' %}" style="width: 1.1rem;" alt="logo" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
              <div class="ud-widget">
                <h5 class="ud-widget-title">เกี่ยวกับเรา</h5>
                <ul class="ud-widget-links">
                  <li>
                    <a href="javascript:void(0)">หน้าหลัก</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">สินค้าบริการ</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">เกี่ยวกับเรา</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">บทความ</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">ติดต่อเรา</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
              <div class="ud-widget">
                <h5 class="ud-widget-title">สินค้าและบริการ</h5>
                <ul class="ud-widget-links">
                  <li>
                    <a href="javascript:void(0)">สินค้าบริการ</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">ซื้ออย่างไร</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">ตะกร้า</a>
                  </li>
                  <li>
                    <a href="javascript:void(0)">ชำระเงิน</a>
                  </li>
                </ul>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>

    </footer>
    <!-- ====== Footer End ====== -->

    <!-- ====== Back To Top Start ====== -->
    <a href="javascript:void(0)" class="back-to-top" hidden>
      <i class="lni lni-chevron-up"> </i>
    </a>
    <!-- ====== Back To Top End ====== -->

    <!-- ====== All Javascript Files ====== -->
   <!-- Messenger Chat plugin Code -->
   <div id="fb-root"></div>

   <!-- Your Chat plugin code -->
   <div id="fb-customer-chat" class="fb-customerchat">
   </div>

   <script>
     var chatbox = document.getElementById('fb-customer-chat');
     chatbox.setAttribute("page_id", "113741271597480");
     chatbox.setAttribute("attribution", "biz_inbox");
   </script>

   <!-- Your SDK code -->
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         xfbml            : true,
         version          : 'v17.0'
       });
     };

     (function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = 'https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js';
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
   </script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
        
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.24/dist/js/uikit-icons.min.js"></script>
    <script>
     
    </script>
  </body>
</html>
