{% extends "base.html" %}

{% block content %}
{% load static %}

 <!-- ====== Hero Start ====== -->
 <section class="ud-hero" id="home">
  <video src="{% static 'assets/video/niran7.mp4' %}" width="100%" height="1200" loop muted playsinline uk-video="autoplay: inview"></video>
 <div class="container">
 </div>
</section>
<!-- ====== Features Start ====== -->
<section id="product" class="ud-features" >
 <div class="container wow fadeInUp">
   <div class="row d-flex justify-content-center">
     <div class="col-lg-12 mt-2">
       <p class="box-icon-10 mt-3">
         เจ้าแรกและเจ้าเดียวในประเทศไทยที่ได้รับการจดอนุสิทธิบัตรอย่างถูกต้อง
     </p>
     </div>
     <div class="col-lg-12 mt-5 mb-5">
         <img src="{%static 'assets/images/niranImg/img-9.png' %}">
     </div>
 </div>
   
 </div>
</section>

<!-- ====== Features End ====== -->

<!-- ====== About Start ====== -->
<section  class="ud-about">
 <div class="container">
   <div class="ud-about-wrapper wow fadeInUp" data-wow-delay=".2s">
     <div class="ud-about-content-wrapper">
       <div class="ud-about-content">
         <!-- <span class="tag">About Us</span> -->
         <h3 style="letter-spacing: 2px; background-color:#1b3431; padding: 2px;"><span style="font-style: italic;"> นิรันดร์ </span> พวงหลีดรักษ์โลก</h3>
         <h2 style="letter-spacing: 2px; background-color:#1b3431; padding: 2px;">ร่วมกับ <span style="font-style: italic;">มูลนิธิสืบนาคะเสถียร</span></h2>
         
         
         <!-- <a href="javascript:void(0)" class="ud-main-btn">Learn More</a> -->
       </div>
       
     </div>
     <div class="ud-about-content-wrapper">
       <div class="ud-about-content text-center">
         <h3>ทุกการสั่งซื้อพวงหลีดจากนิรันดร์</h3>
         <h1>ได้สมทบ <span style="font-style: italic;">50</span> บาท</h1>
         <h1>เป็นทุนการศึกษา</h1>
         <h3>แก่บุตรผู้พิทักป่าในมูลนิธิสืบนาคะเสถียร</h3>
         <h3>ตั้งแต่วันนี้ไปจนถึงวันที่ 17 ม.ค. 2567</h3>
       </div>
       
     </div>
     
   </div>
 </div>
</section>
<!-- ====== About End ====== -->



<!-- ====== Pricing Start ====== -->
<section  class="ud-pricing">
 <div class="container wow fadeInUp">
   <div class="row d-flex justify-content-center">
     <div class="col-lg">
         <img src="{%static 'assets/images/niranImg/img-6.png' %}">
     </div>
     <div class="col-lg">
         <div class="row">
             <p class="box-icon-10 mt-3">
                 เจ้าแรกและเจ้าเดียวในประเทศไทยที่ได้รับการจดอนุสิทธิบัตรอย่างถูกต้อง
             </p>
             <div class="col-lg-12 mt-3">
                 <div class="row">
                     <div class="col mt-3">
                         <div class="circle">
                             <span class="center-text">LESS
                                 LEFTOVER
                                 WASTE</span>
                         </div>
                     </div>
                     <div class="col mt-3">
                         <div class="circle">
                             <span class="center-text">REUSEABLE</span>
                         </div>
                     </div>
                     <div class="col mt-3">
                         <div class="circle">
                             <span class="center-text">ECO-FRIENDLY
                                 WREATH</span>
                         </div>
                     </div>
                     <div class="col mt-3">
                         <div class="circle">
                             <span class="center-text">100%
                                 NATURAL
                                 FABRIC</span>
                         </div>
                     </div>
                     <div class="col mt-3">
                         <div class="circle">
                             <span class="center-text">COMPOSTABLE</span>
                         </div>
                     </div>
                     <div class="col mt-3">
                         <div class="circle">
                             <span class="center-text">NON
                                 CHEMICAL
                                 PROCESS</span>
                         </div>
                     </div>
                 </div>
                
             </div>
             <div class="col-lg-12 mt-5">
                 <p class="box-icon-10-1">
                     ไม่ได้มีดีแค่ความสร้างสรรค์ แต่ยังส่งต่อบุญ<br>
                     ด้วยการบริจาคได้ทันทีโดยไม่สร้างขยะตั้งแต่การผลิตจนหลังใช้งาน
                 </p> 
             </div>
         </div>
     </div>
 </div>

   
 </div>
</section>
<!-- ====== Pricing End ====== -->


  <!-- ====== Pricing Start ====== -->
  <section class="ud-pricing">
   <div class="container wow fadeInUp">
     <div style="background-color: #1b3431;" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin set-bg-green" uk-grid >
         <div class="uk-card-media-left uk-cover-container">
             <img src="{%static 'assets/images/niranImg/niran-aboutus.png' %}" alt="พวงหลีด" uk-cover>
             <canvas width="600" height="600"></canvas>
         </div>
         <div>
             <div class="uk-card-body" >
                 <div class="section-title">
                     <span style="font-size: 26px; color: #F2D789;">นิรันดร์ เกิดขึ้นได้อย่างไร</span>
                 </div>
                 <div class="section-title mt-2">
                   <p style="font-size: 18px; color: #F2D789;">
                     พวงหรีดรักษ์โลก"นิรันดร์" ได้รับแรงบันดาลใจจากการเข้าใจปัญหาด้านสิ่งเเวดล้อมที่ถูกละเลย ซึ่งรวมถึงพวงหรีดสำหรับงานศพแบบดั้งเดิม เราเชื่อว่าการแสดงออกถึงความรักและความเคารพแก่ผู้เสียชีวิตควรได้รับการเปลี่ยนแปลงเพื่อเป็นส่วนหนึ่งในการปกป้องและหลีกเลี่ยงปัญหาด้านสิ่งแวดล้อม</p>
               </div>
                 <div class="section-title">
                    
                     <p style="font-size: 18px; color: #F2D789;">โดยคำนึงถึงปัญหาดังกล่าว เราอยากที่จะเป็นอีกหนึ่งทางเลือกที่ยั่งยืนให้กับคนไทย เราจึงเริ่มที่จะคิดค้นวิธีที่จะรังสรรค์นวัตกรรมของธุรกิจพวงหรีด เป้าหมายหลักของเราคือออกแบบพวงหรีดที่ยังคงถึงการแสดงออกถึงความอาลัย การให้เกียรติของผู้ที่จากไป แต่จะสร้างขยะหลังใช้งานเสร็จให้น้อยที่สุด</p>
                 </div>
                 <div class="section-title">
                     <p style="font-size: 18px; color: #F2D789;">นิรันดร์มีความมุ่งมั่นในการมอบพวงหรีดที่แสดงถึงความเคารพให้กับผู้จากไป ในขณะเดียวกันก็ส่งผลดีต่อสิ่งแวดล้อม เราเชื่อว่าความตายไม่ได้หมายถึงจุดจบแค่เพียงเท่านั้น แต่ยังสามารถหมายถึงการเริ่มต้นใหม่ได้เช่นกัน ด้วยเหตุนี้ พวงหรีดรักษ์โลกจาก "นิรันดร์" จะเปรียบเสมือนสัณลักษณ์ที่แสดงออกถึงความเห็นอกเห็นใจที่เปี่ยมไปด้วยความรัก, ความเคารพและความห่วงใยต่อบุคคลอันเป็นที่รักของท่าน</p>
                 </div>
             </div>
         </div>
     </div>
 </div>
 </section>
 <!-- ====== Pricing End ====== -->

 <!-- ====== Pricing Start ====== -->
 <section id="pricing" class="ud-pricing">
   <div class="container wow fadeInUp">
     <div class="row d-flex justify-content-center">
       <div class="col-lg-4">
           <p class="box-icon-10-2">
               ขั้นตอนการสั่งซื้อ 
           </p>
           <ul class="ui-icon pb-3">
               <li>แจ้งแบบที่ท่านต้องการ</li>
               <li>แจ้งชื่อวัด ศาลา ชื่อผู้วายชนม์</li>
               <li>แจ้งข้อความที่ต้องการบนป้าย</li>
           </ul>
           <p class="box-icon-10-2">
               ออกใบกำกับภาษีฉบับเต็มได้ 
           </p>
           <ul class="ui-icon pb-3">
               <li>ทางนิรันดร์ สามารถออกใบกำกับภาษีฉบับเต็มให้ลูกค้าได้ เพียงแค่แจ้ง ชื่อบริษัท ที่อยู่ เลขประจำตัวผู้เสียภาษีค่ะ</li>

           </ul>
           <p class="box-icon-10-2">
               ปิดรับออร์เดอร์ 15.00 ในทุกๆวันเพื่อส่งภายในวันเดียวกัน
           </p>
         
           <button type="button" class="btn btn-outline-warning"  onclick="window.location.href = '/productlist'">กดตรงนี้เพื่อสั่งซื้อ</button>
       </div>
       <div class="col-lg-8">
           <div class="container">
               <div class="row">
                 <div class="col-lg-4 my-0 mx-0">
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/NR5001.png' %}');" data-setbg="{%static 'assets/images/niranImg/NR5001.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR5001</a></h5>
                           </div>
                           <p>ราคา 1900 บาท <br> สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 5 ผืน</p>
                       </div>
                   </div>
                 </div>
                 <div class="col-lg-4 my-0 mx-0">
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/NR5002.png' %}');" data-setbg="{%static 'assets/images/niranImg/Nr5002.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR5002</a></h5>
                           </div>
                           <p>ราคา 1900 บาท <br> สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 5 ผืน</p>
                       </div>
                   </div>
                 </div>
                 <div class="col-lg-4 my-0 mx-0">
                   
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/NR5003.png' %}');" data-setbg="{%static 'assets/images/niranImg/NR5003.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR5003</a></h5>
                           </div>
                           <p>ราคา 1900 บาท <br>สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 5 ผืน</p>
                       </div>
                   </div>
                 </div>
                 <div class="col-lg-4 my-0 mx-0">
                   
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/NR5004.png' %}');" data-setbg="{%static 'assets/images/niranImg/NR5004.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR5004</a></h5>
                           </div>
                           <p>ราคา 1900 บาท <br> สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 5 ผืน</p>
                       </div>
                   </div>
                 </div>
                 <div class="col-lg-4 my-0 mx-0" >
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/NR1001.png' %}');" data-setbg="{%static 'assets/images/niranImg/NR1001.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR1001</a></h5>
                           </div>
                           <p>ราคา 2900 บาท <br>สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 10 ผืน</p>
                       </div>
                   </div>
                 </div>
                
                 <div class="col-lg-4 my-0 mx-0" >
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/nr103.png' %}');" data-setbg="{%static 'assets/images/niranImg/NR1001.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR1002</a></h5>
                           </div>
                           <p>ราคา 2900 บาท <br>สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 10 ผืน</p>
                       </div>
                   </div>
                 </div>
                  <div class="col-lg-4 my-0 mx-0" >
                   <div class="team__item-3 set-bg uk-border-rounded" style="background-image: url('{%static 'assets/images/niranImg/nr102.png' %}');" data-setbg="{%static 'assets/images/niranImg/NR1001.png' %}">
                       <div class="team__text">
                           <div class="team__title">
                               <h5>NR1003</a></h5>
                           </div>
                           <p>ราคา 2900 บาท <br>สามารถนำไปบริจาคต่อได้เป็นผ้าห่อศพ 10 ผืน</p>
                       </div>
                   </div>
                 </div>
                 <div class="col-lg-4 my-0 mx-0">
                   <div class="full-width-div">
                       <img src="{%static 'assets/images/niranImg/logo.png' %}" alt="Your Image">
                     </div>
                 </div>
               </div>
             </div>
       </div>
   </div>
</div>
</section>
 </div>
 </section>
 <!-- ====== Pricing End ====== -->


<!-- ====== Contact Start ====== -->
<section id="contact" class="ud-contact">
 <div class="container wow fadeInUp">
   <p class="box-icon-10 mt-3">
    ลูกค้าที่เลือกใช้พวงหรีดนิรันดร์
 </p>
 
   <section class="customer-logos slider">
     <div class="slide"><img src="{%static 'assets/images/partner/17.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/01.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/02.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/03.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/04.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/05.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/06.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/07.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/08.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/09.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/10.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/12.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/13.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/14.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/15.png' %}"></div>
     <div class="slide"><img src="{%static 'assets/images/partner/16.png' %}"></div>
  </section>
 </div>
</section>
<!-- ====== Contact End ====== -->

<div class="ud-pricing wow fadeInUp" data-wow-delay=".15s">
 <div class="container text-center">
   <div class="row">
         <div class="col-12 col-lg-12">
           <a href="index.html" class="ud-footer-logo">
             <img src="{% static 'assets/images/niranImg/logo.png' %}" style="height: auto; width: 30%;" alt="logo" />
           </a>
           <p class="ud-widget-desc" style="font-size: 6vh;">
             นิรันดร์ พวงหรีดรักษ์โลก
           </p>
         </div>
         <div class="col-12 col-lg-12 mt-5">
           <div class="ud-widget">
   
             <ul class="ud-widget-socials d-flex justify-content-center">
               <li>
                 <a href="https://www.facebook.com/niran.officialth/">
                   <i class="lni lni-facebook-filled" style="font-size: 2em;"></i>
                 </a>
               </li>
               <li>
                 <a href="https://www.instagram.com/niranwreath/">
                   <i class="lni lni-instagram-filled" style="font-size: 2em;"></i>
                 </a>
               </li>
               <li>
                 <a href="https://lin.ee/KpuPbQ0">
                   <img src="{% static 'assets/images/niranImg/icons/line-black.png' %}" style="height: auto; width: 2rem;" alt="logo" />
                 </a>
               </li>
             </ul>
           </div>
         </div>
   </div>
 </div>

{% endblock content%}